.main {
  display: flex;
  flex-direction: column;
  gap: 120px;
  width: 1000px;
  max-width: 100%;
  margin: 0 auto;
  margin-top: 32px;
}

.card {
  overflow: hidden;
  background: #fff;
  border-radius: 8px;
  box-shadow: 4px 4px 10px #0002;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.form {
  padding: 20px 16px 16px;
}

.controls {
  display: flex;
  gap: 8px;
  align-items: center;
}

.textInput {
  width: 100%;
  padding: 4px 8px;
  margin-bottom: 16px;
  font-size: 16px;
  background: #f5f5f5;
  border: none;
  border-bottom: 1px solid #bbb;
}

.btn {
  padding: 4px 8px;
  margin-left: auto;
  cursor: pointer;
  background: transparent;
  border-radius: 4px;
}

.imageFrame {
  position: relative;
  overflow: hidden;
}

.workImage {
  width: 100%;
  vertical-align: bottom;
}

.contentText {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 0 24px;
  overflow: auto;
  line-height: 2.4;
  color: #fff;
  white-space: pre-wrap;
  background: #000c;
  transition: 0.25s ease-out;
}

.imageFrame:hover > .contentText {
  top: 0;
}

.title {
  padding: 16px;
}

.errorMsg {
  padding: 16px;
  background: #f99;
}
